@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
}
/* ---------------header--------- */
.navbar-toggler{
    border: none!important;
    box-shadow: none!important;
}
.btn-outline-primary{
    border-color: #611f69!important;
    color: #611f69!important;
}
.btn-outline-primary:hover{
    background-color: #ffffff!important;
}
.btn-primary{
    background-color: #611f69!important;
    color: white!important;
    border-color: #611f69!important;
}
.collapse{
    margin-left: 23rem;
}


/* --connect-section-- */
.connect-section{
    background-color: #f4ede4!important;
    margin: 5rem 0 5rem 0;
    padding: 5rem 0 5rem 0;
}
.connect-head-div h1{
    font-size: 35px;
    font-weight: 800;
}
.connect-head-div p{
    font-size: large;
    font-weight: 500;
    color: #696969;
}
.connect-text h1{
    font-size: 45px;
}
.connect-text h1 span{
    font-size: 70px;
}
.connect-text p{
    font-size: medium;
    font-weight: 600;
}
.connect-footer p{
    color: #696969;
}
/* --------faster-sec----- */
.faster-mobile-section{
    margin: 5rem 0 5rem 0;
}
.faster-pc-section{
    margin: 5rem 0 5rem 0;
}
.faster-heading-sec{
    margin-bottom: 2.5rem;
}
.faster-heading-sec h1{
    font-size: 30px;
    font-weight: 700;
}
.faster-heading-sec .faster-list-sec .list  {
    font-size: large;
    font-weight: 600;
    margin-top: 20px;
}
.faster-list-sec div{
    display: flex;
}
.faster-list-sec i{
    margin-right: 10px;
}
.faster-list-sec div span{
    color: rgb(29, 172, 219);
}
.faster-heading-sec a{
    font-size: large;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}
.fast-card-main-div{
    display: flex;
}
.fast-card-sec{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    border-radius: 6px;
    display: flex;    
}
.fast-card-heading h3{
    text-align: center;
    padding-top: 10px;
}
.fast-card-section-1{
    margin-bottom: 4rem;    
}
.fast-card-sec-1-content{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.fast-card-sec-1-content-img .per-ind{ 
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
.fast-card-sec-1-content-text{
    margin-left: 10px;
}
.fast-card-sec-1-content-text h3{
    font-size: large;
    font-weight: 700;
}
.fast-card-sec-1-content-text h3 span{
    font-weight: 200;
    font-size: small;
}
.fast-card-sec-1-content-text p{
    font-size: medium;
    font-weight: 500;
}
.fast-card-footer{  
    text-align: center;
    padding: 0 20px 0 20px;
}
.fast-card-footer p span{
    font-weight: 500;
}
.fast-card-footer input{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 100%;
}
.fextra-card-div{
    background-color: #400d40;
    color: white;
}
.fextra-card-div{
    padding-top: 20px;
    padding-left: 20px;
    width: 20rem;
}
.fextra-heading h1{
    font-size: large;
}
.fextra-list-1{
    padding-top: 20px;
}
.fextra-list-1 h1{
    font-size: large;
    font-weight: 200;
    color: rgb(226, 221, 221);
}
.fextra-list-1 ul{
    padding-left: 12px;
}
.fextra-list-2{
    padding-top: 20px;
}
.fextra-list-2 h1{
    font-size: large;
    font-weight: 200;
    color: rgb(226, 221, 221);
}
/* -----------Secure-Secion--------------------------- */
.secure-section{
    margin: 5rem 0 5rem 0;
}
.secure-head-sec h1{
    font-size: 30px;
    font-weight: 700;
}
.secure-list-sec div p{
    font-size: large;
    font-weight: 600;
}
.secure-text-div{
    padding: 2rem 0 2rem 0;
}
.secure-text-div a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}
.secure-img-sec{
    padding: 2rem 0 2rem 0;
    text-align: center;
}
/* -----------------Started-Section--------------- */
.start-section{
    margin: 5rem 0 5rem 0;
}
.start-heading-sec{
    text-align: center;
}
.start-heading-sec h1{
    font-size: 30px;
    font-weight: 700;
}
.start-heading-sec p{
    font-size: large;
    font-weight: 600;
}
.start-col-div{
    margin: 2rem 0 2rem 0 !important;
}
.start-div{
    margin: 2rem 0 1rem 0;
}
.start-div img{
    width: 50px!important;
    height: 50px!important;
}
.start-div p:nth-child(2) {
    font-size: large;
    font-weight: 700;
    margin-top: 1rem;
}
.start-div p:nth-child(3) {
    font-size: medium;
    font-weight: 500;
}
/* ------------------Build-secion------------- */
.build-section{
    background-color: #f4ede4;
    padding: 5rem 0 5rem 0;
}
.bulid-heaidng-sec h1{
    font-size: 30px;
    font-weight: 800;
}
.bulid-heaidng-sec p{
    font-size: large;
    font-weight: 600;
}
.build-sales{
    background-color: white;
    height: 90%;
    width: 90%;
    padding: 10px 0 7rem 10px;
    margin: 1rem 0 1rem 0;
    position: relative;
    box-shadow: 0 0 2rem rgba(0,0,0,.1)
}
.build-sales h1{
    font-size: x-large;
    font-weight: 600;
}
.build-sales p{
    font-size: large;
    font-weight: 600;
    line-height: 30px!important;
}
.build-arrow-div{
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
}
.build-arrow-div img{
    width: 30px;
    height: 30px;
}
/* -------------------------Join-Section-------------------------- */
.join-section{
    margin: 5rem 0 5rem 0;
}
.join-heading h1{
    font-size: 30px;
    font-weight: 700;
}
.join-heading a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    margin: 0.9rem 0 0.9rem 0;
}
.caro-inside{
    margin: 5rem 0 5rem 0;
    position: relative;
    box-shadow: 0 0 2rem rgba(0,0,0,.1)
}
.caro-img img{
    width: 100%;
}
.caro-div{
    padding: 2rem 2rem 0 2rem;
}
.caro-div-img{
    width: 100%;
}
.caro-div p:nth-child(2){
    font-size: large;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1rem;
    width: 70%;
    font-style: italic;
}
.caro-div p:nth-child(3){
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1rem;
}
.caro-div p:nth-child(4){
    font-weight: 400;
}
.caro-bom{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.caro-bom p{
    margin-bottom: 0;
    color: rgb(19, 173, 224);
    font-size: large;
    font-weight: 600;
}
.caro-btn-div{
    text-align: center;
}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
/* --------company-section------- */
.company-section{
    margin: 4rem 0 4rem 0;
}
.company-list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ----faq-section---- */
.faq-section{
    margin: 4rem 0 4rem 0;
}
.faq-heading h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.faq-head-accrd{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}
.faq-head-accrd p{
    font-weight: 500;
    font-size: larger;
    margin-left: 10px;
}
.btn-for-accrd{
    border: none;
    background-color: #fff;
}
.faq-text-accrd-1{
    font-size: large;
    display: none;
    color: gray;
    font-weight: 500;
    text-align: justify;
    padding: 0 0.5rem 0 0.5rem;
}
.footer-for-mobile{
    margin: 5rem 0 1rem 0;
}
.footer-for-mobile .container div{
    margin: 0.5rem 0 0.5rem 0;
}
.footer-heading h5{
    font-size: 15px;
    font-weight: 600;
}
.footer-heading{
    display: flex;
    justify-content: space-between;
}
.footer-heading button{
    border: none;
    background-color: #fff;
}
.footer-content{
    color: grey;
    display: none;
}
.footer-last-div p a{
    text-decoration: none;
}
.footer-status-div p a{
    text-decoration: none;
    color: rgb(28, 174, 223);
}
.footer-icon-div{
    display: flex;
    justify-content: space-between;
}
.footer-last-div{
    padding: 0.5rem 0 0.5rem 0;
}
.footer-last-div p{
    font-size: smaller;
    font-weight: 500;
    color: grey;
    margin: 0;
}
.footer-main-div{
    display: flex;
    justify-content: space-around;
}
.foot-com li:first-child{
    font-size: 17px;
    margin-bottom: 0.3rem;
    color: #0e0e10;
}
.foot-com{
    color: gray;
}
.footer-under-div{
    display: flex;
    justify-content: space-between;
}
.footer-under-one ul{
    display: flex;
    justify-content: space-between;
}
.footer-under-one ul li{
    margin-left: 10px;
}
.footer-under-two ul{
    display: flex;
    justify-content: space-between;
}
.footer-under-two ul li{
    margin-left: 10px;
}
.footer-under-two ul li a{
    text-decoration: none;
    color: rgb(28, 174, 223);
}
.footer-date{
    margin: 1rem 0 1rem 0;
}
.footer-date p{
    font-size: small;
    color: gray;
}


@media only screen and (max-width: 568px) {
    .Logo{
        width: 100px;
    }
    .nav-link div{
        display: flex;
        justify-content: space-between;
    }
    .nav-link div p{
        font-weight: 600;
    }
    .header-buttons  button{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .slake-main-section{
        display: none;
    }
    .slake-heading-div p:first-child{
        font-size: large;
        font-weight: 500;
        margin-bottom: 0;
    }
    .slake-heading-div h3{
        font-size: 35px;
        font-weight: 800;
    }
    .slake-heading-div .last-chi{
        font-weight: 500;
        text-align: justify;
        font-size: small;
    }
    .slake-main-sec-for-mob{
        padding-top: 5%;
    }
    .slake-heading-btn-div button{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
    .fextra-card-div{
        display: none;
    }
    .faster-pc-section{
        display: none;
    }
    .secure-pc{
        display: none;
    }
    .bulid-img-sec{
        display: none;
    }
    .caro-inside{
        display: block;
    }
    .caro-div-img{
        text-align: center;
    }
    .caro-div p:nth-child(2){
        width: 100%;
    }
    .caro-div{
        padding-bottom: 2rem;
    }
    .company-section{
        display: none;
    }
    .faq-heading h1{
        font-size: 30px;
        font-weight: 700;
    }
    .footer-for-pc{
        display: none;
    }
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
    .Logo{
        width: 100px;
    }
    .nav-link div{
        display: flex;
        justify-content: space-between;
    }
    .nav-link div p{
        font-weight: 600;
    }
    .header-buttons  button{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    /* --slake-section-- */
    .slake-main-section{
        display: none;
    }
    .slake-heading-div p:first-child{
        font-size: large;
        font-weight: 500;
        margin-bottom: 0;
    }
    .slake-heading-div h3{
        font-size: 35px;
        font-weight: 800;
    }
    .slake-heading-div .last-chi{
        font-weight: 500;
        text-align: justify;
        font-size: small;
    }
    .slake-main-sec-for-mob{
        padding-top: 5%;
    }
    .slake-heading-btn-div button{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
    /* --connect-section-- */
    .connect-text{
        width: 100%!important;
    }
    /* ----faster-section-- */
    .fextra-card-div{
        padding-left: 15px;
    }
    .fextra-heading h1{
        font-size: 14px;
    }
    .fextra-list-1 ul{
        padding-left: 0px;
    }
    .fextra-list-1 h1{
        font-size: medium;
    }
    .fextra-list-2 h1{
        font-size: medium;
    }
    .fextra-list-2 ul{
        padding-left: 20px;
    }
    .fextra-list-2 ul li{
        font-size: small;
    }
    .faster-pc-section{
        display: none;
    }
    .secure-pc{
        display: none;
    }
    .caro-inside{
        display: block;
        width: 80%;
        margin: 3rem auto 3rem auto;
    }
    .caro-div-img{
        text-align: center;
    }
    .caro-div p:nth-child(2){
        width: 100%;
    }
    .caro-div{
        padding-bottom: 2rem;
    }
    .company-section{
        display: none;
    }
    .faq-heading h1{
        font-size: 30px;
        font-weight: 700;
    }
    .footer-for-pc{
        display: none;
    }
}  

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .Logo{
        width: 100px;
    }
    .nav-link div{
        display: flex;
        justify-content: space-between;
    }
    .nav-link div p{
        font-weight: 600;
    }
    .header-buttons  button{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    /* slaek-sec */
    .slake-main-sec-for-mob{display: none;}
    .slake-heading-div p:first-child{
        margin-bottom: 0;
    }
    .slake-heading-div h3{
        font-size: calc(2rem + (18 * (100vw - 400px)/ 624));;
        font-weight: 700;
    }
    .slake-heading-btn-div button{
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        font-weight: 800;
    }
    .slake-img-div{
        padding-top: 20%;
    }
    /* --connect-section-- */
    .connect-text{
        width: 25%!important;
    }
    .connect-head-div h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .faster-pc-section{
        display: none;
    }
    .faster-heading-sec h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .secure-mobile{
        display: block;
    }
    .secure-pc{
        display: none;
    }
    /* ----build-section---- */
    .join-heading{
        text-align: center;
    }
    .join-heading h1{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));;
        font-weight: 700;
    }
    .caro-inside{
        display: block;
        width: 80%;
        margin: 3rem auto 3rem auto;
    }
    .caro-div-img{
        text-align: center;
    }
    .caro-div p:nth-child(2){
        width: 100%;
    }
    .caro-div{
        padding-bottom: 2rem;
    }
    .faq-heading h1{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .footer-for-mobile{
        display: none;
    }
}

@media only screen and (min-width: 1200px) and  (max-width: 1920px){
    .Logo{
        width: 200px;
    }
    .header-list-div{
        padding-top: 20px;
    }
    header ul{
        display: flex;
        justify-content: space-evenly;
        align-self: center!important;
    }
    header ul li a div p{
        display: none;
    }
    header ul li a div h5{
        font-size: medium;
    }
    header svg{
        display: none;
    }
    .header-buttons{
        align-self: center;
    }
    .w-d{display: none;}
    .sign-in::after{
        content: url(./Resource/icon/search.svg);
        display: inline-block;
        position: absolute;
        top: 40px;
        left: 60%;
    }
    .sign-in{
        margin-left: 100px;
    }
    /* --slake-section-- */
    .slake-main-sec-for-mob{display: none;}
    .slake-heading-div p:first-child{
        margin-bottom: 0;
        font-weight: 600;
        font-size: larger;
    }
    .slake-heading-div h3{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));;
        font-weight: 700;
    }
    .slake-heading-btn-div   button{
        padding: 20px;
        width: 40%;
        font-size: medium;
        font-weight: 600;
    }
    .last-chi{
        font-weight: 500;
        width: 75%;
        font-size: large;
    }
    /* --connect-section-- */
    .connect-text{
        width: 25%!important;
    }
    .connect-head-div h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    /* ---faster-section-- */
    .faster-mobile-section{
        display: none;
    }
    .fextra-card-div{
        width: 24rem;
        padding-left: 10px;
    }
    .faster-heading-sec h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .faster-heading-sec{
        padding-top: 50px;
    }
    .secure-head-sec h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .secure-list-sec{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .secure-mobile{
        display: none;
    }
    .start-heading-sec h1{
        font-size: calc(1.5rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .bulid-heaidng-sec{
        padding: 5rem 0 5rem 0;
    }
    .bulid-heaidng-sec h1{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));;
        font-weight: 700;
    }
    .join-heading{
        text-align: center;
    }
    .join-heading h1{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));;
        font-weight: 700;
    }
    .caro-inside{
        display: flex;
    }
    .caro-div-img{
        text-align: center;
    }
    .caro-div p:nth-child(2){
        width: 100%;
    }
    .caro-div{
        padding-bottom: 2rem;
    }
    .faq-heading{
        padding: 3rem 0 3rem 0;
    }
    .faq-heading h1{
        font-size: calc(1rem + (18 * (100vw - 400px)/ 624));
        font-weight: 700;
    }
    .footer-for-mobile{
        display: none;
    }
}