*{
    margin: 0;
    padding: 0;
}
/* navbar-css */
.navbar-pd li{
    padding-left: 20px;
}
.navbar-nav li a{
    color: black;
    font-weight: 600!important;
}
.navbar-pd li .header-btn-one{
    color: rgb(117, 13, 117);
    border-color: rgb(117, 13, 117);
}
.navbar-pd li .header-btn-two{
    color: rgb(255, 249, 255);
    background-color: rgb(117, 13, 117);
    border-color: rgb(117, 13, 117);
}
/* ----------------better-section--------------------------------------------------------------- */
.better-first-div h1{
    font-weight: 800;
}
.better-btns button{
    padding: 15px;
}
.better-btn-1{
    color: rgb(117, 13, 117)!important;
    border-color: rgb(117, 13, 117)!important;
}
.better-btn-2{
    margin-left: 10px;
    color: rgb(255, 249, 255)!important;
    background-color: rgb(117, 13, 117)!important;
    border-color: rgb(117, 13, 117)!important;
}
/* ------Connect section----------------------------------------------------------------------- */
.connect{
    background-color: #f4ede4;
    margin-top: 8%;
}
.connect-heading-div{
    padding-top: 5%;
    text-align: center;
}
.connect-heading-div p{
    font-size: larger;
    margin-top: 20px;
}













@media only screen and (max-width: 992px){
    .navbar-pd li{
        padding-top: 10px;
        padding-left: 0;
    }
}
@media only screen and (max-width: 750px){
    .connect-4x h4,.connect-64 h4,.connect-2x h4{
        font-size: large;
    }
}
@media only screen and (max-width: 575px){
    .better-first-div h1{
        font-size: x-large;
    }
    .connect-card-div{
        display: flex;
        justify-content: space-between;
    }
    .connect-heading-div h1{
        font-size: x-large;
    }
    .connect-2x,.connect-4x,.connect-64{
        margin: 1rem 0 1rem 0;
    }
    .connect-4x h4,.connect-64 h4,.connect-2x h4{
        font-size: small;
    }
    .connect-bottom h5{
        font-size: medium;
    }
}